# Ignore the dataset directory
dataset/
__pycache__/
.gitignore

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Ignore environment files
.env
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore downloaded model files
*.bin
*.pt